In [1]:
import pandas as pd
import numpy as np
import os

# Import datasets

In [2]:
crash_data_LA = os.path.join(os.getcwd(), "data", "Crash_Data_LA_COUNTY.csv")
harsh_accleration_LA = os.path.join(os.getcwd(), "data", "Harsh_Acceleration_LA_COUNTY.csv")
harsh_braking_LA = os.path.join(os.getcwd(), "data", "Harsh_Braking_LA_COUNTY.csv")
poi_LA = os.path.join(os.getcwd(), "data", "POI_LA_COUNTY.csv")
df_crashData = pd.read_csv(crash_data_LA)
df_harshAccelerationData = pd.read_csv(harsh_accleration_LA)
df_harshBrakingData = pd.read_csv(harsh_braking_LA)
df_POIData = pd.read_csv(poi_LA)
df_crashData.head()

,LATITUDE,LONGITUDE,ARC_ID,YEAR,VH,CYC,PED,FATAL,SERIOUS_INJURY,MINOR_INJURY,NO_INJURY
0,34.022659,-118.438652,3815613985340226038495917846_38156133053402269...,2018.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1,33.771053,-118.240303,3817593925337726257993907375_38175966053377030...,2018.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
2,34.025581,-118.335114,38166473753402558910272263152_3816648955340255...,2018.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3,34.164879,-118.410530,3815895015341648791916620220_38158843353416488...,2019.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,33.969830,-118.347229,3816528095339698383331497996_38165261453396974...,2019.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0

In [3]:
corr_matrix = round(df_crashData.corr(),5)
corr_matrix

,LATITUDE,LONGITUDE,YEAR,VH,CYC,PED,FATAL,SERIOUS_INJURY,MINOR_INJURY,NO_INJURY
LATITUDE,1.00000,-0.12690,0.00196,0.08176,-0.05592,-0.05563,0.02708,0.01047,0.00024,-0.01303
LONGITUDE,-0.12690,1.00000,0.11934,0.03178,-0.00425,-0.03508,-0.00007,-0.02717,0.01148,0.00400
YEAR,0.00196,0.11934,1.00000,0.05444,-0.04199,-0.03339,0.01755,0.05593,0.02709,-0.06076
VH,0.08176,0.03178,0.05444,1.00000,-0.56441,-0.77243,-0.10031,-0.13792,-0.08664,0.18351
CYC,-0.05592,-0.00425,-0.04199,-0.56441,1.00000,-0.08830,-0.00555,0.01986,0.08632,-0.09103
PED,-0.05563,-0.03508,-0.03339,-0.77243,-0.08830,1.00000,0.12531,0.15115,0.03813,-0.15140
FATAL,0.02708,-0.00007,0.01755,-0.10031,-0.00555,0.12531,1.00000,-0.03825,-0.08947,-0.15612
SERIOUS_INJURY,0.01047,-0.02717,0.05593,-0.13792,0.01986,0.15115,-0.03825,1.00000,-0.19929,-0.34774
MINOR_INJURY,0.00024,0.01148,0.02709,-0.08664,0.08632,0.03813,-0.08947,-0.19929,1.00000,-0.81341
NO_INJURY,-0.01303,0.00400,-0.06076,0.18351,-0.09103,-0.15140,-0.15612,-0.34774,-0.81341,1.00000

# Handling missing values

Crash Data

In [4]:
df_crashData.head()

,LATITUDE,LONGITUDE,ARC_ID,YEAR,VH,CYC,PED,FATAL,SERIOUS_INJURY,MINOR_INJURY,NO_INJURY
0,34.022659,-118.438652,3815613985340226038495917846_38156133053402269...,2018.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1,33.771053,-118.240303,3817593925337726257993907375_38175966053377030...,2018.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
2,34.025581,-118.335114,38166473753402558910272263152_3816648955340255...,2018.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3,34.164879,-118.410530,3815895015341648791916620220_38158843353416488...,2019.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,33.969830,-118.347229,3816528095339698383331497996_38165261453396974...,2019.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0

In [5]:
nan_count_crashData = np.sum(df_crashData.isnull(), axis = 0)
nan_detected_crashData = nan_count_crashData != 0 
print(nan_detected_crashData)

LATITUDE          False
LONGITUDE         False
ARC_ID            False
YEAR               True
VH                 True
CYC                True
PED                True
FATAL              True
SERIOUS_INJURY     True
MINOR_INJURY       True
NO_INJURY          True
dtype: bool

In [6]:
print("YEAR: ", df_crashData['YEAR'].dtype)
print("VH: ", df_crashData['VH'].dtype)
print("CYC: ", df_crashData['CYC'].dtype)
print("PED: ", df_crashData['PED'].dtype)
print("FATAL: ", df_crashData['FATAL'].dtype)
print("SERIOUS_INJURY: ", df_crashData['SERIOUS_INJURY'].dtype)
print("MINOR_INJURY: ", df_crashData['MINOR_INJURY'].dtype)
print("NO_INJURY: ", df_crashData['NO_INJURY'].dtype)

YEAR:  float64
VH:  float64
CYC:  float64
PED:  float64
FATAL:  float64
SERIOUS_INJURY:  float64
MINOR_INJURY:  float64
NO_INJURY:  float64

In [7]:
# replace null values of float types with the mean

# compute mean for all non null YEAR, VH, CYC, PED, FATAL, SERIOUS_INJURY, MINOR_INJURY, NO_INJURY values
mean_year = df_crashData['YEAR'].mean()
print("mean value for all YEAR columns: " + str(mean_year))

mean_vh = df_crashData['VH'].mean()
print("mean value for all VH columns: " + str(mean_vh))

mean_cyc = df_crashData['CYC'].mean()
print("mean value for all CYC columns: " + str(mean_cyc))

mean_ped = df_crashData['PED'].mean()
print("mean value for all PED columns: " + str(mean_ped))

mean_fatal = df_crashData['FATAL'].mean()
print("mean value for all FATAL columns: " + str(mean_fatal))

mean_serious_injury = df_crashData['SERIOUS_INJURY'].mean()
print("mean value for all SERIOUS_INJURY columns: " + str(mean_serious_injury))

mean_minor_injury = df_crashData['MINOR_INJURY'].mean()
print("mean value for all MINOR_INJURY columns: " + str(mean_minor_injury))

mean_no_injury = df_crashData['NO_INJURY'].mean()
print("mean value for all NO_INJURY columns: " + str(mean_no_injury))

mean value for all YEAR columns: 2020.3121360257971
mean value for all VH columns: 0.8315697558493705
mean value for all CYC columns: 0.060611373527773765
mean value for all PED columns: 0.1078188706228557
mean value for all FATAL columns: 0.01688290258039232
mean value for all SERIOUS_INJURY columns: 0.07850841910576652
mean value for all MINOR_INJURY columns: 0.3179492997256657
mean value for all NO_INJURY columns: 0.5866593785881754

In [8]:
# fill all missing values with the mean
df_crashData['YEAR'].fillna(value=mean_year, inplace=True)
df_crashData['VH'].fillna(value=mean_vh, inplace=True)
df_crashData['CYC'].fillna(value=mean_cyc, inplace=True)
df_crashData['PED'].fillna(value=mean_ped, inplace=True)
df_crashData['FATAL'].fillna(value=mean_fatal, inplace=True)
df_crashData['SERIOUS_INJURY'].fillna(value=mean_serious_injury, inplace=True)
df_crashData['MINOR_INJURY'].fillna(value=mean_minor_injury, inplace=True)
df_crashData['NO_INJURY'].fillna(value=mean_no_injury, inplace=True)

In [9]:
# check that all null values have been replaced
np.sum(df_crashData.isnull(), axis=0)

LATITUDE          0
LONGITUDE         0
ARC_ID            0
YEAR              0
VH                0
CYC               0
PED               0
FATAL             0
SERIOUS_INJURY    0
MINOR_INJURY      0
NO_INJURY         0
dtype: int64

Harsh Acceleration

In [10]:
df_harshAccelerationData.head()

,CLUSTER_ID,VEHICLE_COUNT,CENTROID,POLYGON,RANK,MULTILINESTRING_CLUSTERS,LENGTH_CLUSTER,LIST_ROAD_NAME,LIST_CITY_NAME,LIST_ROAD_PRIORITY,H3_ID,H3_GEOM
0,294,496,POINT(-118.267279584 34.029165823),"POLYGON((-118.26741 34.028915,-118.26751 34.02...",216,"MULTILINESTRING((-118.267107 34.029412,-118.26...",156.919375,"[\n ""S Broadway""\n]","[\n ""Los Angeles--Long Beach--Anaheim, CA""\n]",[\n 9\n],"""8a29a1d6611ffff""","POLYGON((-118.267653416 34.028666453,-118.2670..."
1,2604,445,POINT(-118.34053631 34.031118907),"POLYGON((-118.34054 34.030975,-118.34057 34.03...",3516,"MULTILINESTRING((-118.340532 34.031128,-118.34...",192.446381,"[\n ""Buckingham Road"",\n ""Buckingham Rd""\n]","[\n ""Los Angeles"",\n ""Los Angeles--Long Beac...",[\n 7\n],"""8a29a1992987fff""","POLYGON((-118.340945887 34.029933312,-118.3402..."
2,2604,445,POINT(-118.34053631 34.031118907),"POLYGON((-118.34054 34.030975,-118.34057 34.03...",3516,"MULTILINESTRING((-118.340532 34.031128,-118.34...",192.446381,"[\n ""Buckingham Road"",\n ""Buckingham Rd""\n]","[\n ""Los Angeles"",\n ""Los Angeles--Long Beac...",[\n 7\n],"""8a29a199299ffff""","POLYGON((-118.340474043 34.031133348,-118.3398..."
3,1899,144,POINT(-118.557961122 34.239184329),"POLYGON((-118.558014 34.23899,-118.55812 34.23...",5563,"MULTILINESTRING((-118.55795 34.2409,-118.55795...",600.081703,"[\n ""Prairie St"",\n ""Shirley Ave""\n]","[\n ""Los Angeles--Long Beach--Anaheim, CA""\n]",[\n 7\n],"""8a29a18f36a7fff""","POLYGON((-118.55710626 34.237923709,-118.55645..."
4,1899,144,POINT(-118.557961122 34.239184329),"POLYGON((-118.558014 34.23899,-118.55812 34.23...",5563,"MULTILINESTRING((-118.55795 34.2409,-118.55795...",600.081703,"[\n ""Prairie St"",\n ""Shirley Ave""\n]","[\n ""Los Angeles--Long Beach--Anaheim, CA""\n]",[\n 7\n],"""8a29a18f36affff""","POLYGON((-118.558116407 34.238831849,-118.5574..."

In [11]:
nan_count_harshAcceleration = np.sum(df_harshAccelerationData.isnull(), axis = 0)
nan_detected_harshAcceleration = nan_count_harshAcceleration != 0 
print(nan_detected_harshAcceleration)

CLUSTER_ID                  False
VEHICLE_COUNT               False
CENTROID                    False
POLYGON                     False
RANK                        False
MULTILINESTRING_CLUSTERS     True
LENGTH_CLUSTER               True
LIST_ROAD_NAME              False
LIST_CITY_NAME              False
LIST_ROAD_PRIORITY          False
H3_ID                       False
H3_GEOM                     False
dtype: bool

In [12]:
print("MULTILINESTRING_CLUSTERS: ", df_harshAccelerationData['MULTILINESTRING_CLUSTERS'].dtype)
print("LENGTH_CLUSTER: ", df_harshAccelerationData['LENGTH_CLUSTER'].dtype)

MULTILINESTRING_CLUSTERS:  object
LENGTH_CLUSTER:  float64

In [13]:
# replace null values for object types with 'unavailable'
df_harshAccelerationData['MULTILINESTRING_CLUSTERS'].fillna('unavailable', inplace=True)

# replace null values of float types with the mean
mean_length_cluster = df_harshAccelerationData['LENGTH_CLUSTER'].mean()
df_harshAccelerationData['LENGTH_CLUSTER'].fillna(mean_length_cluster, inplace=True)

print(np.sum(df_harshAccelerationData.isnull(), axis=0))

CLUSTER_ID                  0
VEHICLE_COUNT               0
CENTROID                    0
POLYGON                     0
RANK                        0
MULTILINESTRING_CLUSTERS    0
LENGTH_CLUSTER              0
LIST_ROAD_NAME              0
LIST_CITY_NAME              0
LIST_ROAD_PRIORITY          0
H3_ID                       0
H3_GEOM                     0
dtype: int64

Harsh Braking

In [14]:
df_harshBrakingData.head()

,CLUSTER_ID,VEHICLE_COUNT,CENTROID,POLYGON,RANK,MULTILINESTRING_CLUSTERS,LENGTH_CLUSTER,LIST_ROAD_NAME,LIST_CITY_NAME,LIST_ROAD_PRIORITY,H3_ID,H3_GEOM
0,534,11216,POINT(-118.206107553 34.092474061),"POLYGON((-118.20622 34.092255,-118.20628 34.09...",3140,"MULTILINESTRING((-118.206284142 34.092195949,-...",67.859919,"[\n ""bba2e1de-db29-4d4c-a81b-f99355230ca5"",\n...","[\n ""Los Angeles--Long Beach--Anaheim, CA"",\n...",[\n 14\n],"""8a29a1d54af7fff""","POLYGON((-118.205899906 34.091603187,-118.2052..."
1,1759,70964,POINT(-118.328951259 34.25974415),"POLYGON((-118.329605 34.25967,-118.32971 34.25...",2115,"MULTILINESTRING((-118.328341016 34.259845151,-...",254.099161,"[\n ""Sunland Boulevard"",\n ""Sunland Blvd"",\n...","[\n ""Los Angeles"",\n ""Los Angeles--Long Beac...",[\n 11\n],"""8a29a1c6aa17fff""","POLYGON((-118.330000074 34.259089267,-118.3293..."
2,1759,70964,POINT(-118.328951259 34.25974415),"POLYGON((-118.329605 34.25967,-118.32971 34.25...",2115,"MULTILINESTRING((-118.328341016 34.259845151,-...",254.099161,"[\n ""Sunland Boulevard"",\n ""Sunland Blvd"",\n...","[\n ""Los Angeles"",\n ""Los Angeles--Long Beac...",[\n 11\n],"""8a29a1c6aaa7fff""","POLYGON((-118.328517538 34.259377628,-118.3278..."
3,1926,96286,POINT(-118.587902971 34.188427268),"POLYGON((-118.587944 34.18837,-118.58807 34.18...",665,"LINESTRING(-118.587745935 34.188377456,-118.58...",29.811475,"[\n ""Victory Blvd"",\n ""Victory Boulevard""\n]","[\n ""Los Angeles--Long Beach--Anaheim, CA"",\n...",[\n 11\n],"""8a29a18f588ffff""","POLYGON((-118.587726598 34.187627005,-118.5870..."
4,292,33323,POINT(-118.502787109 34.2212785),"POLYGON((-118.50244 34.22123,-118.50258 34.221...",4067,"MULTILINESTRING((-118.502669 34.221225,-118.50...",561.757956,"[\n ""Roscoe Boulevard"",\n ""Roscoe Blvd"",\n ...","[\n ""Los Angeles"",\n ""Los Angeles--Long Beac...",[\n 11\n],"""8a29a1888a57fff""","POLYGON((-118.50272346 34.219823701,-118.50207..."

In [15]:
nan_count_harshBrakingData = np.sum(df_harshBrakingData.isnull(), axis = 0)
nan_detected_harshBrakingData = nan_count_harshBrakingData != 0 
print(nan_detected_harshBrakingData)

CLUSTER_ID                  False
VEHICLE_COUNT               False
CENTROID                    False
POLYGON                     False
RANK                        False
MULTILINESTRING_CLUSTERS     True
LENGTH_CLUSTER               True
LIST_ROAD_NAME              False
LIST_CITY_NAME              False
LIST_ROAD_PRIORITY          False
H3_ID                       False
H3_GEOM                     False
dtype: bool

In [16]:
print("MULTILINESTRING_CLUSTERS: ", df_harshAccelerationData['MULTILINESTRING_CLUSTERS'].dtype)
print("LENGTH_CLUSTER: ", df_harshAccelerationData['LENGTH_CLUSTER'].dtype)

MULTILINESTRING_CLUSTERS:  object
LENGTH_CLUSTER:  float64

In [17]:
# replace null values for object types with 'unavailable'
df_harshBrakingData['MULTILINESTRING_CLUSTERS'].fillna('unavailable', inplace=True)

# replace null values of float types with the mean
mean_length_cluster = df_harshBrakingData['LENGTH_CLUSTER'].mean()
df_harshBrakingData['LENGTH_CLUSTER'].fillna(mean_length_cluster, inplace=True)

print(np.sum(df_harshBrakingData.isnull(), axis=0))

CLUSTER_ID                  0
VEHICLE_COUNT               0
CENTROID                    0
POLYGON                     0
RANK                        0
MULTILINESTRING_CLUSTERS    0
LENGTH_CLUSTER              0
LIST_ROAD_NAME              0
LIST_CITY_NAME              0
LIST_ROAD_PRIORITY          0
H3_ID                       0
H3_GEOM                     0
dtype: int64

POI Data

In [18]:
df_POIData.head()

     point_id   longitude   latitude            location  poi poi_type
0   346300785 -118.302813  34.259466  Los Angeles County  pub  amenity
1   437773582 -118.498483  34.029328  Los Angeles County  pub  amenity
2   470868182 -118.255782  34.048469  Los Angeles County  pub  amenity
3   902322554 -118.291931  34.102838  Los Angeles County  pub  amenity
4  1028759192 -118.482601  34.000797  Los Angeles County  pub  amenity

In [19]:
nan_count_POIData = np.sum(df_POIData.isnull(), axis = 0)
nan_detected_POIData = nan_count_POIData != 0 
print(nan_detected_POIData)

point_id     False
longitude    False
latitude     False
location     False
poi          False
poi_type     False
dtype: bool